.contenSectionCodigo{
    display: flex;
    gap: 20px;
    .codigo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 50%;
        height: 100%;
    }
    .descripcion{
        width: 50%;
        height: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .casosAlgoritmo{
        display: flex;
        flex-direction: column;
        gap: 10px;
        ul{
            display: flex;
            gap: 15px;
            list-style: none;
            li{
                display: flex;
                flex-direction: column;
                border: 2px solid #333;
                gap: 10px;
                padding: 20px;
                border-radius: 10px;
                //El primero li
                &:first-child{
                    background-color: #254731;
                    color: white;
                }
                //el segundo li
                &:nth-child(2){
                    background-color: #6e3844;
                    color: white;
                }
                //el tercer li
                &:nth-child(3){
                    background-color: #b3b3b3;
                    color: black;
                }
                span{
                    font-weight: bold;
                }
            }
        }
    }
}