.menu {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    background-color: #0f0f0f;
    min-width: 200px;
    flex: none;
    gap: 20px;
    .subMenu{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: stretch;
        width: 100%;
        .title{
            color: #808080;
            font-size: 18px;
            font-weight: bold;
            padding: 0 20px;
            margin-bottom: 10px;
            *{
                margin: 0;
                padding: 0;
            }
        }
        .item{
            width: 100%;
            :hover {
                width: 100%;
                background-color: #1a1a1a;
            }
            a{
                display: inline-block;
                width: 100%;
                padding: 10px 30px;
                color: #ffffff;
                text-decoration: none;
                font-size: 1.2em;
                // &:hover {
                //     text-decoration: underline;
                // }
            }
        }
    }
}