.menu {
    padding: 40px 0px;
    background-color: #0f0f0f;
    min-width: 200px;
    ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: stretch;
        width: 100%;
        li{
            width: 100%;
            :hover {
                width: 100%;
                background-color: #1a1a1a;
            }
            a{
                display: inline-block;
                width: 100%;
                padding: 10px 20px;
                color: #ffffff;
                text-decoration: none;
                font-size: 1.2em;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}